#ignore everything 

/*
/*/




#don't ignore maybragdon folder or gitignore file

!rclind.lib.rochester.edu.maybragdon/
rclind.lib.rochester.edu.maybragdon/files
!.gitignore

#don't ignore the compound object viewer

!all/

all/*
!all/modules

all/modules/*
!all/modules/islandora_solution_pack_compound/

!all/themes
all/themes/*

!all/themes/maybragdon

